!!!
%html
  %head
    %title ZenCMS
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body
    = yield
    %p &copy; ZenCMS 2013
